language: node_js
node_js:
- '0.10'
before_install:
- npm install coffee-script
before_script:
- ./node_modules/.bin/cake archive
script:
- ./node_modules/.bin/cake test
deploy:
  provider: releases
  api_key:
    secure: MquKZgLKLq/SxxjCyF/yN8nvptqq0HgNtUAtCmyHZ6ZfQhaJ8Xd/yECEvLzo5f9FKq72SPc1Qj/GWoWwAhDqoqvlqZg1kcBS9dJBJMWgUeYeXYdqMXmvbUuqJ3erhUdDxdxeQ7e/XW05t/v/AMNuvYrwuKxopBAWKF9UCXeJ1/E=
  file: build/APIBlueprintImporter.zip
  skip_cleanup: true
  on:
    tags: true
    all_branches: true
    repo: apiaryio/Paw-APIBlueprintImporter
